table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

a{
  background: #333;
  color: white;
  padding: 12px 36px;
  margin-top: 24px;
  display: inline-block;
  text-decoration: none;
}